# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Documentos\TERCER SEMESTRE\PROGRA DINAMICA\GIT REVERSI\reversi_PMD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
